@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication3.Models.Course
@{
}
<head>

</head>
<body>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body fixed-panel">
            <form asp-controller="Home" asp-action="SaveCourse">
                @{ string title;
                    string courseCode;
                    string dayStr;
                    string timeStart;
                    string timeEnd;
                    string term;
                    string courseID;
                    if (Model == null) {
                        title = "";
                        courseCode = "";
                        dayStr = "";
                        timeStart = "";
                        timeEnd = "";
                        term = "Fall";
                        courseID = "" + -1;
                    }

                    else {
                        title = Model.title;
                        courseCode = Model.code;
                        dayStr = Model.days;
                        timeStart = "";
                        timeEnd = "";
                        term = "";
                        //timeStart = Model.start;
                        //timeEnd = Model.end;
                        //term = Model.termID;
                        courseID = Model.ID + "";

                    }
                }
                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-md-4">Title:</label>
                        <input type="text" name="TitleField" value="@title" /> 
                    </div>
                    <div class="form-inline vert-offset-top-20">
                        <label class="control-label col-md-4">Course Code:</label>
                        <input type="text" name="CourseCodeField" value="@courseCode"/>
                    </div>
                </div>
                <div class="form-group vert-offset-top-20">
                        <label class="control-label col-md-4">Days:</label>
                    <div class="checkbox">
                        <label><input type="checkbox" name="dayField" value="M">Monday</label>
                    </div>
                    <div class="checkbox col-md-offset-4"">
                        <label><input type="checkbox" name="dayField" value="T">Tuesday</label>
                    </div>
                    <div class="checkbox col-md-offset-4"">
                        <label><input type="checkbox" name="dayField" value="W">Wednesday</label>
                    </div>
                    <div class="checkbox col-md-offset-4"">
                        <label><input type="checkbox" name="dayField" value="R">Thursday</label>
                    </div>
                    <div class="checkbox col-md-offset-4"t">
                        <label><input type="checkbox" name="dayField" value="F">Friday</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-md-4">Time Start</label>
                        <input type="text" name="timeStartField" value="@timeStart"/>
                    </div>
                    <div class="form-inline col-md-4 vert-offset-top-20">
                        <label class="control-label">Time End</label>
                        <input type="text" name="timeEndField" value="@timeEnd"/>
                    </div>
                    <div class="col-md-4 dropdown vert-offset-top-20">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="termButton" data-toggle="dropdown">
                            Term
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li onclick="termChoose('Fall')">Fall</li>
                            <li onclick="termChoose('Winter')">Winter</li>
                            <li onclick="termChoose('Spring')">Spring</li>
                            <li onclick="termChoose('Summer')">Summer</li>
                        </ul>
                        <input type="text" id="termField" name="termField" value="Fall" hidden/>
                        <input type="text" id="systemIDField" name="systemIDField" value="@courseID" hidden/>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <!--<div class="panel-body">
            <form asp-controller="" asp-action="">
                <div id="scrollview" style="overflow:scroll;height:400px">
                    
                </div>
    
            </form>
            <!--Generate href tags for all the certifications and when selected add them to the list above-->
            <div class="form-group">
                <div class="dropdown vert-offset-top-20">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Term
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a></li>

                    </ul>
                </div>
            </div>
        </div>
</body>
<script>
    function termChoose(term) {
        var buttonString = "Term: (" + term + ")";
        this.document.getElementById("termButton").innerText = buttonString;
        this.document.getElementById("termField").value = term;
    }

    @{  string tempDS;
        if (Model == null) {
            tempDS = "";
        }
        else {
            tempDS = Model.days;
        }
    }
        var dayBoxes = this.document.getElementsByName("dayField");
        var dayIter = 0;
        var jsDayString = '@tempDS';
    for (dayIter = 0; dayIter < dayBoxes.length; dayIter++) {
        if(jsDayString.includes(dayBoxes[dayIter].value))
        {
            dayBoxes[dayIter].checked=true;
            
        }
    }

</script>