@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page";
}



<body>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FcdOlAwqswA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="fieldStorage">
        
        <button type="button" class="btn btn-primary col-md-offset-4 vert-offset-top-20" onclick="passToNextPage()" >Next</button>
        <form asp-controller="Home" asp-action="MoveGroupToWaiver" id="progress-form">
            @{ foreach (User user in Model)
                {
                    <div>

                        <input type="text" name="firstNameField" value="@user.firstName" hidden />
                        <input type="text" name="lastNameField" value="@user.lastName" hidden />
                        <input type="text" name="phoneField" value="@user.phoneNumber" hidden />
                        <input type="text" name="addressField" value="@user.email" hidden />
                        <input type="text" name="cardSwipeField" value="@user.studentID" hidden />

                    </div>
                }
            }
        </form>
    </div>
</body>

<script>
    
    function passToNextPage() {
    
        var videoFinished = true;
        if (videoFinished) {
            this.document.getElementById("progress-form").submit();

        }
        

    }

</script>