@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<User>
    <div>
        <div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">First Name</div>
                <div class="col-xs-3 col-sm-3">Last Name</div>
                <div class="col-xs-3 col-sm-3">Student ID</div>
                <div class="col-xs-3 col-sm-3">Log In Climber</div>
            </div>
        </div>
        <div>
            @foreach (User user in Model)
            {
                <form asp-controller="Home" asp-action="SignInClimber">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">@user.firstName</div>
                        <div class="col-xs-3 col-sm-3">@user.lastName</div>
                        <div class="col-xs-3 col-sm-3">@user.studentID</div>
                        <div class="col-xs-3 col-sm-3" align="center"><button type="submit" value="@user.studentID" name="CardSwipe">Log in</button></div>

                    </div>
                </form>
            }
        </div>
    </div>

<script>
    function moveToSignIn(clicked_id) {
        document.getElementById(clicked_id).innerText = clicked_id;
        var url = '@Url.Action("SignInClimber")';
        url += '?CardSwipe=' + clicked_id;

        
        var partial = $("#partial");
        partial.load(url);
        document.getElementById("addClimber").innerText = clicked_id;
    }

</script>
@{
}
