<head>

</head>
<body>
    <!-- tabs left -->
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#a" data-toggle="tab">Equipment</a></li>
            <li><a href="#b" data-toggle="tab">Classes</a></li>
            <li><a href="#c" data-toggle="tab">Certification</a></li>
            <li><a href="#d" data-toggle="tab">Staff</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="a">
                <form asp-controller="Home" asp-action="saveInventoryEdits" class="form-inline">
                    <div class="col-md-offset-3">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle pull-left" type="button" data-toggle="dropdown">
                                        Shoe Size:
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @{string[] sizes = { "10.0", "10.5", "11.0" };////what are the acceptable sizes, or, are we going to let them add new sizes?
                                            for (int i = 0; i < sizes.Length; i++)
                                            {
                                                <li style="display:block" onclick="getShoeCount(@sizes[i])">@sizes[i]</li>
                                            }
                                        }

                                        <!--Fill with shoe sizes-->
                                    </ul>
                                </div>
                                <div class="form-group pull-right">
                                    <label for="shoe-box">Amount:</label>
                                    <input type="text" name="shoebox" id="shoeBox" />
                                    <input type="text" name="shoeboxsize" id="shoeBoxSize" hidden />
                                </div>
                            </div>
                        </div>
                        <div style="height:10px"></div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle pull-left" type="button" data-toggle="dropdown">
                                        Harness Size:
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!--Fill with harness sizes-->
                                        <li onclick="getHarnessCount('L')">L</li>
                                        <li onclick="getHarnessCount('M')">M</li>
                                        <li onclick="getHarnessCount('S')">S</li>
                                    </ul>
                                </div>
                                <div class="form-group pull-right">
                                    <label for="harness-box">Amount:</label>
                                    <input type="text" name="harnessbox" id="harnessBox" />
                                    <input type="text" name="harnessboxsize" id="harnessBoxSize" hidden />
                                </div>
                            </div>
                        </div>


                        <div style="height:10px"></div>
                        <div>
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                    </div>
                
                </form>
            </div>

            <div class="tab-pane" id="b" name="classpane">

                <form id="classForm">
                    <div id="scrollview" style="overflow:scroll;height:400px">
                        <ul>
                            @{string[] classNames = { "class1", "class2", "class3" };//this should be replaced with a proper scan of the database;
                                for (int i = 0; i < classNames.Length; i++)
                                {
                                    <li><input type="radio" name="classList" value="@classNames[i]" />@classNames[i]</li>


                                }

                            }


                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary" pullleft onclick="AddClass()">Add</button>
                    <button type="button" class="btn btn-primary" pullright onclick="editClass()">Edit Selected</button>
                    <button type="button" class="btn btn-primary" pullleft onclick="removeClass()">Remove Selected</button>
                </form>
            </div>

            <div class="tab-pane" id="c" name="certificationpane">
                    <div id="certscrollview" style="overflow:scroll;height:400px">
                        
                        <ul id="certList">
                            


                            <!--{string[] certificationNames = getCertificationNames();
                                for (int i = 0; i < certificationNames.Length; i++)
                                {
                                    <li><input type="radio" name="certificationList" value="certificationNames[i]" />certificationNames[i]</li>


                                }

                            }-->


                        </ul>
                        <script>
                            
</script>
                    </div>
                    <button type="button" class="btn btn-primary" pullleft onclick="location.href='AddCertification'">Add</button>
                    <button type="button" class="btn btn-primary" pullright onclick="editCertification()">Edit Selected</button>
                    <button type="button" class="btn btn-primary" pullleft onclick="removeCertification()">Remove Selected</button>
                
            </div>

            <div class="tab-pane" id="d" name="staffpane">
                    <div id="scrollview" style="overflow:scroll;height:400px">
                        <ul>
                            @{string[] staffNames = { "staff 1", "staff 2", "staff 3" };//this should be replaced with a proper scan of the database;
                                for (int i = 0; i < staffNames.Length; i++)
                                {
                                    <li><input type="radio" name="staffList" value="@staffNames[i]" />@staffNames[i]</li>


                                }

                            }


                        </ul>
                    </div>
                <form>
                    <button class="btn btn-primary" pullleft onclick="location.href='AddStaff'">Add</button>
                    <button class="btn btn-primary" pullright onclick="editStaff()">Edit Selected</button>
                    <button class="btn btn-primary" pullleft onclick="removeStaff()">Remove Selected</button>
                </form>
            </div>
        </div>
    </div>
    <!-- /tabs -->
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function getHarnessCount(size) {
        var count;
        //var box = this.document.getElementById()
        var url = '@Url.Action("getHarnessCount")';
        document.getElementById("harnessBoxSize").value = size;
        $.ajax({
            url: url,
            data: { harnessSize: size }
        }).done(function (data) {
            count = data;
            document.getElementById("harnessBox").value = data;
        });

    } function getShoeCount(size) {
        var count;
        //var box = this.document.getElementById()
        var url = '@Url.Action("getShoeCount")';
        document.getElementById("shoeBoxSize").value = size;
        $.ajax({
            url: url,
            data: { shoeSize: size }
        }).done(function (data) {
            count = data;
            document.getElementById("shoeBox").value = data;
        });

    }
    function addClass() {
        window.location.href = '@Url.Action("addClass")';

    }

    function editClass() {
        var url = '@Url.Action("editClass")';
        var classForm = this.document.getElementsByName("classList");
        var toEdit
        var i;
        for (i = 0; i < classForm.length; i++) {
            if (classForm[i].checked) {
                toEdit = classForm[i].value;
            }
        }
        url += '?className=' + toEdit;
        window.location.href = url;

    }

    function removeClass() {
        var url = '@Url.Action("removeClass")';
        var classForm = this.document.getElementsByName("classList");
        var toEdit
        var i;
        for (i = 0; i < classForm.length; i++) {
            if (classForm[i].checked) {
                toEdit = classForm[i].value;
            }
        }
        url += '?className=' + toEdit;
        window.location.href = url;

    }
    
    function editCertification() {
        var url = '@Url.Action("editCertification")';
        var certForm = this.document.getElementsByName("certificationList");
        var toEdit
        var i;
        for (i = 0; i < certForm.length; i++) {
            if (certForm[i].checked) {
                toEdit = certForm[i].value;
            }
        }
        url += '?certificationName=' + toEdit;
        window.location.href = url;

    }

    function removeCertification() {
        var url = '@Url.Action("removeCertification")';
        var certForm = this.document.getElementsByName("certificationList");
        var toEdit
        var i;
        for (i = 0; i < certForm.length; i++) {
            if (certForm[i].checked) {
                toEdit = certForm[i].value;
            }
        }
        url += '?certificationName=' + toEdit;
        window.location.href = url;

    }

     function editStaff() {
        var url = '@Url.Action("editStaff")';
        var Form = this.document.getElementsByName("staffList");
        var toEdit
        var i;
        for (i = 0; i < Form.length; i++) {
            if (Form[i].checked) {
                toEdit = Form[i].value;
            }
        }
        url += '?staffName=' + toEdit;
        window.location.href = url;

    }

    function removeStaff() {
        var url = '@Url.Action("removeStaff")';
        var Form = this.document.getElementsByName("staffList");
        var toEdit
        var i;
        for (i = 0; i < Form.length; i++) {
            if (Form[i].checked) {
                toEdit = Form[i].value;
            }
        }
        url += '?staffName=' + toEdit;
        window.location.href = url;

    }
    var certDiv = this.document.getElementById("certList");
    $(document).ready(function(){
    var url = '@Url.Action("getCertificationNames")';
    $.ajax({
        url: url
    }).done(function (data) {
        var i = 0;
        for (i = 0; i < data.length; i++)
            certDiv.innerHTML += "<li><input type=\"radio\" name=\"certificationList\" value=\" " + data[i] + " \" />" + data[i] + "</li>";
    });
    });
</script>