<head>

</head>
<body>
    <!-- tabs left -->
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#a" data-toggle="tab">Equipment</a></li>
            <li><a href="#b" data-toggle="tab">Classes</a></li>
            <li><a href="#c" data-toggle="tab">Certification</a></li>
            <li><a href="#d" data-toggle="tab">Staff</a></li>
            <li><a href="#e" data-toggle="tab">Enrollment</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="a">
                <form asp-controller="Home" asp-action="saveInventoryEdits" class="form-inline">
                    <div class="col-md-offset-3">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle pull-left" type="button" data-toggle="dropdown">
                                        Shoe Size:
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @{string[] sizes = { "10.0", "10.5", "11.0" };//
                                            for (int i = 0; i < sizes.Length; i++)
                                            {
                                                <li style="display:block" onclick="getShoeCount(@sizes[i])">@sizes[i]</li>
                                            }
                                        }

                                        <!--Fill with shoe sizes-->
                                    </ul>
                                </div>
                                <div class="form-group pull-right">
                                    <label for="shoe-box">Amount:</label>
                                    <input type="text" name="shoebox" id="shoeBox" />
                                    <input type="text" name="shoeboxsize" id="shoeBoxSize" hidden />
                                </div>
                            </div>
                        </div>
                        <div style="height:10px"></div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle pull-left" type="button" data-toggle="dropdown">
                                        Harness Size:
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!--Fill with harness sizes-->
                                        <li onclick="getHarnessCount('L')">L</li>
                                        <li onclick="getHarnessCount('M')">M</li>
                                        <li onclick="getHarnessCount('S')">S</li>
                                    </ul>
                                </div>
                                <div class="form-group pull-right">
                                    <label for="harness-box">Amount:</label>
                                    <input type="text" name="harnessbox" id="harnessBox" />
                                    <input type="text" name="harnessboxsize" id="harnessBoxSize" hidden />
                                </div>
                            </div>
                        </div>


                        <div style="height:10px"></div>
                        <div>
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                    </div>
                
                </form>
            </div>

            <div class="tab-pane" id="b" name="classpane">
                    <div id="scrollview" style="overflow:scroll;height:400px">
                    </div>
                <form>
                    <button class="btn btn-primary" pullleft onclick="">Add</button>
                    <button class="btn btn-primary" pullright >Edit Selected</button>
                    <button class="btn btn-primary" pullleft>Remove Selected</button>
                </form>
            </div>

            <div class="tab-pane" id="c">
                    <div id="scrollview" style="overflow:scroll;height:400px">
                    </div>
                <form>
                    <button class="btn btn-primary" pullleft>Add</button>
                    <button class="btn btn-primary" pullright>Edit Selected</button>
                    <button class="btn btn-primary" pullleft>Remove Selected</button>
                </form>
            </div>

            <div class="tab-pane" id="d">
                    <div id="scrollview" style="overflow:scroll;height:400px">
                    </div>
                <form>
                    <button class="btn btn-primary" pullleft>Add</button>
                    <button class="btn btn-primary" pullright>Edit Selected</button>
                    <button class="btn btn-primary" pullleft>Remove Selected</button>
                </form>
                <div class="tab-pane" id="e">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="SearchTerm" id="Text2"><div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" onclick="updateSearchResults()" aria-expanded="false"><span class="caret"></span></button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu" style="width:600px;" id="partial">
                                            @Html.Partial("SearchResults")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle pull-left" type="button" data-toggle="dropdown">
                                Harness Size:
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <!--Fill with harness sizes-->
                                <li onclick="getHarnessCount('L')">L</li>
                                <li onclick="getHarnessCount('M')">M</li>
                                <li onclick="getHarnessCount('S')">S</li>
                            </ul>
                        </div>
                        <!--Submit the record and then refresh--> 
                        <button class="btn btn-primary">Enroll</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /tabs -->
</body>
<script>
    function getHarnessCount(size) {
        var count;
        //var box = this.document.getElementById()
        var url = '@Url.Action("getHarnessCount")';
        document.getElementById("harnessBoxSize").value = size;
        $.ajax({
            url: url,
            data: { harnessSize: size }
        }).done(function (data) {
            count = data;
            document.getElementById("harnessBox").value = data;
        });

    } function getShoeCount(size) {
        var count;
        //var box = this.document.getElementById()
        var url = '@Url.Action("getShoeCount")';
        document.getElementById("shoeBoxSize").value = size;
        $.ajax({
            url: url,
            data: { shoeSize: size }
        }).done(function (data) {
            count = data;
            document.getElementById("shoeBox").value = data;
        });

    }

</script>