<head>

</head>
<body>
    <!-- tabs left -->
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#a" data-toggle="tab">Equipment</a></li>
            <li><a href="#b" data-toggle="tab">Classes</a></li>
            <li><a href="#c" data-toggle="tab">Certification</a></li>
            <li><a href="#d" data-toggle="tab">Staff</a></li>
            <li><a href="#e" data-toggle="tab">Enrollment</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active fixed-panel" id="a">
                <form asp-controller="Home" asp-action="saveInventoryEdits" class="form-inline">
                    <div class="col-md-offset-3 vert-offset-top-20">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle pull-left" type="button" data-toggle="dropdown">
                                        Shoe Size:
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @{string[] sizes = { "10.0", "10.5", "11.0" };////what are the acceptable sizes, or, are we going to let them add new sizes?
                                            for (int i = 0; i < sizes.Length; i++)
                                            {
                                                <li style="display:block" onclick="getShoeCount(@sizes[i])">@sizes[i]</li>
                                            }
                                        }

                                        <!--Fill with shoe sizes-->
                                    </ul>
                                </div>
                                <div class="form-group pull-right">
                                    <label for="shoebox">Amount:</label>
                                    <input type="text" name="shoebox" id="shoeBox" />
                                    <input type="text" name="shoeboxsize" id="shoeBoxSize" hidden />
                                </div>
                            </div>
                        </div>
                        <div style="height:10px"></div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle pull-left" type="button" data-toggle="dropdown">
                                        Harness Size:
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!--Fill with harness sizes-->
                                        <li onclick="getHarnessCount('L')">L</li>
                                        <li onclick="getHarnessCount('M')">M</li>
                                        <li onclick="getHarnessCount('S')">S</li>
                                    </ul>
                                </div>
                                <div class="form-group pull-right">
                                    <label for="harnessbox">Amount:</label>
                                    <input type="text" name="harnessbox" id="harnessBox" />
                                    <input type="text" name="harnessboxsize" id="harnessBoxSize" hidden />
                                </div>
                            </div>
                        </div>


                        <div style="height:10px"></div>
                        <div>
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                    </div>
                
                </form>
            </div>

            <div class="tab-pane fixed-panel" id="b" name="classpane">

                <form id="classForm">
                    <div id="scrollview" style="overflow:scroll;height:400px">
                        <ul id="courseDiv">
                            


                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary" pullleft onclick="AddClass()">Add</button>
                    <button type="button" class="btn btn-primary" pullright onclick="editClass()">Edit Selected</button>
                    <button type="button" class="btn btn-primary" pullleft onclick="removeClass()">Remove Selected</button>
                </form>
            </div>

            <div class="tab-pane fixed-panel" id="c" name="certificationpane">
                    <div id="certscrollview" style="overflow:scroll;height:400px">
                        <div class="col-md-12">
                            <ul id="certList" class="list-group">
                                



                            </ul>
                       <!--    <script>
                                $(function () {
                                    console.log('ready');

                                    $('.list-group li').click(function (e) {
                                        e.preventDefault()

                                        $that = $(this);

                                        $that.parent().find('li').removeClass('active');
                                        $that.addClass('active');
                                    });
                                })
                            </script> --> 
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" pullleft onclick="location.href='AddCertification'">Add</button>
                    <button type="button" class="btn btn-primary" pullright onclick="editCertification()">Edit Selected</button>
                    <button type="button" class="btn btn-primary" pullleft onclick="removeCertification()">Remove Selected</button>
                
            </div>

            <div class="tab-pane fixed-panel" id="d" name="staffpane">
                    <div id="scrollview" style="overflow:scroll;height:400px">
                        <ul id="staffDiv">
                           
                        

                        </ul>
                    </div>
                <form>
                    <button type="button" class="btn btn-primary" pullleft onclick="location.href='AddStaff'">Add</button>
                    <button type="button" class="btn btn-primary" pullright onclick="editStaff()">Edit Selected</button>
                    <button type="button" class="btn btn-primary" pullleft onclick="removeStaff()">Remove Selected</button>
                </form>
             </div>
            
            <div class="tab-pane fixed-panel" id="e">
                <form>
                    <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="SearchTerm" id="Text2"><div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" onclick="updateSearchResults()" aria-expanded="false"><span class="caret"></span></button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu" style="width:600px;" id="partial">
                                            @Html.Partial("SearchResults", new List<User>());
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle pull-left" type="button" data-toggle="dropdown">
                                Harness Size:
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="courseEnroll">
                                <!--Fill with classes-->
                            </ul>
                        </div>
                        <!--Submit the record and then refresh--> 
                        <button class="btn btn-primary">Enroll</button>
                    </form>
                </div>
        </div>
    </div>
    <!-- /tabs -->
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function getHarnessCount(size) {
        var count;
        //var box = this.document.getElementById()
        var url = '@Url.Action("getHarnessCount")';
        document.getElementById("harnessBoxSize").value = size;
        $.ajax({
            url: url,
            data: { harnessSize: size }
        }).done(function (data) {
            count = data;
            document.getElementById("harnessBox").value = data;
        });

    } function getShoeCount(size) {
        var count;
        //var box = this.document.getElementById()
        var url = '@Url.Action("getShoeCount")';
        document.getElementById("shoeBoxSize").value = size;
        $.ajax({
            url: url,
            data: { shoeSize: size }
        }).done(function (data) {
            count = data;
            document.getElementById("shoeBox").value = data;
        });

    }
    function AddClass() {
        window.location.href = '@Url.Action("addClass")';

    }

    function editClass() {
        var url = '@Url.Action("editClass")';
        var classForm = this.document.getElementsByName("courseList");
        var toEdit
        var i;
        for (i = 0; i < classForm.length; i++) {
            if (classForm[i].checked) {
                toEdit = classForm[i].value;
            }
        }
        url += '?className=' + toEdit;
        window.location.href = url;

    }

    function removeClass() {
        var url = '@Url.Action("removeClass")';
        var classForm = this.document.getElementsByName("classList");
        var toEdit
        var i;
        for (i = 0; i < classForm.length; i++) {
            if (classForm[i].checked) {
                toEdit = classForm[i].value;
            }
        }
        url += '?className=' + toEdit;
        window.location.href = url;

    }

    function editCertification() {
        var url = '@Url.Action("editCertification")';
        var certForm = this.document.getElementsByName("certificationList");
        var toEdit
        var i;
        for (i = 0; i < certForm.length; i++) {
            if (certForm[i].classList.contains("active")) {
                toEdit = certForm[i].value;
            }
        }
        url += '?certificationID=' + toEdit;
        window.location.href = url;

    }

    function removeCertification() {
        var url = '@Url.Action("removeCertification")';
        var certForm = this.document.getElementsByName("certificationList");
        var toEdit
        var i;
        for (i = 0; i < certForm.length; i++) {
            if (certForm[i].classList.contains("active")) {
                toEdit = certForm[i].value;
            }
        }
        url += '?certificationID=' + toEdit;
        window.location.href = url;

    }

     function editStaff() {
        var url = '@Url.Action("editStaff")';
        var Form = this.document.getElementsByName("staffList");
        var toEdit
        var i;
        for (i = 0; i < Form.length; i++) {
            if (Form[i].checked) {
                toEdit = Form[i].value;
            }
        }
        url += '?staffID=' + toEdit;
        window.location.href = url;

    }

    function removeStaff() {
        var url = '@Url.Action("removeStaff")';
        var Form = this.document.getElementsByName("staffList");
        var toEdit
        var i;
        for (i = 0; i < Form.length; i++) {
            if (Form[i].checked) {
                toEdit = Form[i].value;
            }
        }
        url += '?staffID=' + toEdit;
        window.location.href = url;

    }


    var certDiv = this.document.getElementById("certList");
    $(document).ready(function(){
    var url = '@Url.Action("getCertificationData")';
    $.ajax({
        url: url
    }).done(function (data) {
        var i = 0;
        for (i = 0; i < data[0].length; i++)
            certDiv.innerHTML += "<li class=\"list-group-item\" value=\"" + data[1][i] + "\">" + data[0][i] + "</li>";
    });
    });
    var staffDiv = this.document.getElementById("staffDiv");
    $(document).ready(function(){
        var url = '@Url.Action("getStaffData")';
        $.ajax({
            url: url
        }).done(function (data) {
            var i = 0;
            for (i = 0; i < data[0].length; i++)
                staffDiv.innerHTML += "<li><input type=\"radio\" name=\"staffList\" value=\" " + data[1][i] + " \" />" + data[0][i] + "</li>";
        });
    });
    var courseDiv = this.document.getElementById("courseDiv");
    var secondDiv = this.document.getElementById("courseEnroll");
    $(document).ready(function () {
        var url = '@Url.Action("getCourseData")';
        $.ajax({
            url: url
        }).done(function (data) {
            var i = 0;
            for (i = 0; i < data[0].length; i++)
                courseDiv.innerHTML += "<li><input type=\"radio\" name=\"courseList\" value=\" " + data[1][i] + " \" />" + data[0][i] + "</li>";
                secondDiv.innerHTML += "<li><input type=\"radio\" name=\"enrollCourseList\" value=\" " + data[1][i] + " \" />" + data[0][i] + "</li>";
        });
    });

  
    $(document).ready(function () {
        console.log('ready');

        $('.list-group').click(function (e) {
            e.preventDefault()
            var clicked = 'clicked: '
            var target = e.target;
            clicked = clicked + target.innerText;
            $that = $(this);
            console.log(clicked);
            $that.parent().find('li').removeClass('active');
            $that.addClass('active');
        });
    })


    function updateSearchResults() {

        var url = '@Url.Action("GetMatchesForSignIn")'
        url += '?searchTerm=' + Text2.value;
        var partial = $("#partial");
        partial.load(url);
    }
</script>