@model WebApplication3.User


@{
    ViewData["Title"] = "Home Page";
}





<head>

</head>

<body>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body fixed-panel">
            <form>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-1">
                        @{
                            var shoeSize = Model.ShoeSize;
                            if (shoeSize == null)
                            { shoeSize = "N/A"; }
                            var harnessSize = Model.HarnessSize;
                            if (harnessSize == null)
                            {
                                harnessSize = "N/A";

                            }
                            var shoeString = "Shoes (" + shoeSize + ")";
                            var harnessString = "Harness (" + harnessSize + ")";


                        }
                        <button type="button" class="btn btn-primary" value="@shoeSize" id="shoeButton" onclick="checkoutShoes()">@shoeString</button>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <button type="button" class="btn btn-primary" value="@harnessSize" id="harnessButton" onclick="checkoutHarness()">@harnessString</button>
                    </div>
                </div>

            </form><div style="height:40px"></div>
                    <div class="col-md-offset-1 vert-offset-top-20 dropdown">
                        <button class="btn btn-primary dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown">
                            Visit Type: 
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="visitList">
                        </ul>
                    </div>
                    <button class="col-md-offset-1 vert-offset-top-20 btn btn-primary" type="button" class="btn btn-primary" onClick="checkInUser()">Check In</button>
                    @{ var systemId = Model.systemID;}
                    <input type="text" id="systemIDField" value="@systemId" hidden/>
                
        </div>
    </div>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">
        <div class="panel-body">
            <form asp-controller="Home" asp-action="takeToCertification">
                <div id="scrollview" style="overflow:scroll;height:400px">
                   <ul id="certList">

                   </ul>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg vert-offset-top-20" id="Button3" onclick="takeToCertification()" type="button">
                        Add Certification
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function checkInUser() {
        var url = '@Url.Action("AddClimberBySystemID")'
        var systemID = this.document.getElementById("systemIDField").value;
        url += '?systemID=' + systemID;
        var visit = 0;
        var visitList = this.document.getElementsByName("visitListItem");
        var i;
        for (i = 0; i < visitList.length; i++) {
            if (visitList[i].checked) {
                visit = visitList[i].value;

            }

        }
        url += '&visitType=' + visit;
        window.location.href = url;
    }

    function takeToCertification() {
        var url = '@Url.Action("takeToCertification")'
        var systemID = this.document.getElementById("systemIDField").value;
        url += '?userID=' + systemID;
        var cert;
        var certList = this.document.getElementsByName("certificationList");
        var i;
        for (i = 0; i < certList.length; i++) {
            if (certList[i].checked) {
                cert = certList[i].value;

            }

        }
        url += '&certID=' + cert;
        window.location.href = url;
    }


    function checkoutHarness() {
        var url = '@Url.Action("CheckoutHarness")';
        var systemID = this.document.getElementById("systemIDField").value;
        var harnessSize = this.document.getElementById("harnessButton").value;
        url += '?userID=' + systemID;
        url += '&harnessSize=' + harnessSize;
        $.ajax({
            url: url
        });
     }
    function checkoutShoes() {
        var url = '@Url.Action("CheckoutShoes")';
        var systemID = this.document.getElementById("systemIDField").value;
        var shoeSize = this.document.getElementById("shoeButton").value;
        url += '?userID=' + systemID;
        url += '&shoeSize=' + shoeSize;
        $.ajax({
            url: url
        });
    }


    var certList = this.document.getElementById("certList");

    $(document).ready(function () {
        var url = '@Url.Action("getCertificationData")';
        $.ajax({
            url: url
        }).done(function (data) {
            var i = 0;
            for (i = 0; i < data[0].length; i++)
                certList.innerHTML += "<li><input type=\"radio\" name=\"certificationList\" value=\" " + data[1][i] + " \" />" + data[0][i] + "</li>";
        });
    });

    var visitList = this.document.getElementById("visitList");

    $(document).ready(function () {
        var url = '@Url.Action("getVisitData")';
        $.ajax({
            url: url
        }).done(function (data) {
            var i = 0;
            for (i = 0; i < data.length; i++)
                visitList.innerHTML += "<li><input type=\"radio\" name=\"visitListItem\" value=\" " + data[i] + " \" />" + data[i] + "</li>";
        });
    });
</script>




