@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model User

<head>

</head>

<body>
    <div class="container col-md-5 col-md-offset-1 panel panel-default">

            <div class="col-md-8 col-centered vert-offset-top-20">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="SearchTerm" id="Text2"><div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" onclick="updateSearchResults()" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu" style="width:600px;" id="partial">
                                    @*  @Html.Partial("UserSearchResults") *@ Results Loading...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-5 col-md-offset-1 panel panel-default" id="login-div">
        <div class="panel-body">
            <div class="row">
                
                    @{User user = Model;
                        string fullName;
                        string IDfield;
                        string shoeSize;
                        string harnessSize;
                        string phoneNum;
                        string email;
                        string userType;
                        string SystemIDField;

                        if (user == null){
                            fullName = "FirstName LastName";
                            IDfield = "00xxxxxx";
                            shoeSize = "x";
                            harnessSize = "x";
                            phoneNum = "(xxx)xxx-xxxx";
                            email = "name@place.co";
                            userType = "X";
                            SystemIDField = "-1";
                        }
                        else {
                            fullName = user.firstName + " " + user.lastName;
                            IDfield = ""+user.studentID;
                            shoeSize = user.ShoeSize;
                            harnessSize = user.HarnessSize;
                            phoneNum = user.phoneNumber;
                            email = user.email;
                            userType = user.userType;
                            SystemIDField = ""+user.systemID;
                                }
                    }
                <form asp-controller="Home" asp-action="SaveData">
                    <div class="form-inline">
                        <label for="NameField"><strong>Name:     </strong></label>
                        <input type="text" class="form-control" id="NameFieldText" placeholder="@fullName" readonly name="NameField" />
                        <button type="button" class="btn btn-sm btn-primary" name="EditNameButton" id="EditNameButton" onclick="toggleEditName()" style="display:none">
                            Edit Name
                        </button>
                    </div>
                    <div class="form-inline">
                        <label for="SIDField"><strong>SID:</strong></label>
                        <input type="text" class="form-control" id="SystemIDField" value="@SystemIDField" readonly style="display:none" name="SystemIDField" />
                        <input type="text" class="form-control" id="SIDField" placeholder="@IDfield" readonly name="SIDField" />
                        <button type="button" class="btn btn-sm btn-primary" name="EditIDButton" id="EditIDButton" onclick="toggleEditID()" style="display:none">
                            Edit ID
                        </button>
                    </div>
                    <div class="form-inline">
                        <label for="ShoeField"><strong>Shoe Size:</strong></label>
                        <input type="text" class="form-control" placeholder="@shoeSize" readonly name="ShoeField" id="ShoeField" />
                    </div>
                    <div class="form-inline">
                        <label for="HarnessField"><strong>Harness Size:</strong></label>
                        <input type="text" class="form-control" id="HarnessField" placeholder="@harnessSize" readonly name="HarnessField" />
                    </div>
                    <div class="form-inline">
                        <label for="PhoneField"><strong>Phone Number:</strong></label>
                        <input type="text" class="form-control" id="PhoneField" placeholder="@phoneNum" readonly name="PhoneField" />
                    </div>
                    <div class="form-inline">
                        <label for="EmailField"><strong>Email:</strong></label>
                        <input type="text" class="form-control" id="EmailField" placeholder="@email" readonly name="EmailField" />
                    </div>
                    <div class="form-inline">
                        <label for="UserTypeField"><strong>User Type:</strong></label>
                        <input type="text" class="form-control" id="UserTypeField" placeholder="@userType" readonly name="UserTypeField" />
                    </div>
                
                <button type="button" class="btn btn-lg btn-primary" value="Edit" name="EditButton" id="EditButton" onclick="toggleEditable()">Edit</button>
                
                <button class="btn btn-lg btn-primary" value="Save" name="SaveButton" id="SaveButton"  style="display:none">Save Changes</button>
                </form>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="col-md-5">
                            <div class="panel-body">
                                <form>
                                    <div class="form-group">
                                        <label for="Meter Display"><strong>Meters:</strong></label>
                                        <input type="text" name="MeterDisplay" readonly/>
                                    </div>
                                    <div class="form-group">
                                        <label for="FeetAddText"> Mile High Climb</label>
                                        <input type="text" class="form-control pull-left" name="FeetAddText">
                                    </div>
                                    <div class="btn-group">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                                                Dropdown Example
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Boulder</a></li>
                                                <li><a href="#">Top Rope</a></li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="form-group">

                                        <button class="btn btn-primary form-control" value="Add" name="FeetAddButton">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function updateSearchResults() {
        var url = '@Url.Action("GetMatchesForUserPage")';
        url += '?searchTerm=' + Text2.value;
        var partial = $("#partial");
        partial.load(url);
    }


    function toggleEditName() {
        var field = $("#NameFieldText");
        ro = field.prop('readonly');
        field.prop('readonly', !ro);

    }
    
    function toggleEditID() {
        var field = $("#SIDField");
        ro = field.prop('readonly');
        field.prop('readonly', !ro);


    }

    function toggleEditable(){
        var fields = [];
        fields.push($("#ShoeField"));
        fields.push($("#HarnessField"));
        fields.push($("#PhoneField"));
        fields.push($("#EmailField"));
        fields.push($("#UserTypeField"));
        ro = fields[0].prop('readonly');
        fields.forEach(function (element) {
            element.prop('readonly', !ro);

        });
        toggleDisplayed();


    }
    function toggleDisplayed() {
        $("#EditButton").toggle();
        $("#SaveButton").toggle();
        $("#EditNameButton").toggle();
        $("#EditIDButton").toggle();
        

    }
   

</script>


@*<body>
    <div class="container">
        <div class="col-mid-5 col-md-offset-1 panel panel-default">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="last, first" id="UserSearchText" />
                </div>
            </form>
        </div>
        <div class="col-mid-5 col-md-offset-1 panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <form>
                        <div class="form-inline">
                            <label for="NameField"><strong>Name:</strong></label>
                            <input type="text" class="form-control" id="NameFieldText" placeholder="name" readonly name="NameField"/>
                        </div>
                        <div class="form-inline">
                            <label for="SIDField"><strong>SID:</strong></label>
                            <input type="text" class="form-control" id="NameFieldText" placeholder="00xxxxxx" readonly name="SIDField"/>
                        </div>
                        <div class="form-inline">
                            <label for="ShoeField"><strong>Shoe Size:</strong></label>
                            <input type="text" class="form-control" id="NameFieldText" placeholder="x" readonly name="ShoeField"/>
                        </div>
                        <div class="form-inline">
                            <label for="HarnessField"><strong>Harness Size:</strong></label>
                            <input type="text" class="form-control" id="NameFieldText" placeholder="x" readonly name="HarnessField"/>
                        </div>
                        <div class="form-inline">
                            <label for="PhoneField"><strong>Phone Number:</strong></label>
                            <input type="text" class="form-control" id="NameFieldText" placeholder="(xxx)xxx-xxxx" readonly name="PhoneField"/>
                        </div>
                        <div class="form-inline">
                            <label for="EmailField"><strong>Email:</strong></label>
                            <input type="text" class="form-control" id="NameFieldText" placeholder="x@x.x" readonly name="EmailField"/>
                        </div>
                        <div class="form-inline">
                            <label for="UserTypeField"><strong>User Type:</strong></label>
                            <input type="text" class="form-control" id="NameFieldText" placeholder="x" readonly name="UserTypeField"/>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form>
                        <button class="btn btn-lg form-control" value="Edit" name="EditButton" />
                    </form>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Mile High Club
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form>
                                    <label for="FeetMileHighClub"><strong>Feet:</strong></label>
                                    <input type="text" class="form-control" name="FeetMileHighClub" placeholder="0" />
                                </form>
                            </div>
                            <div class="row">
                                <div class="form-inline">
                                    <button class="btn btn-primary btn-lg form-control" value="Add" name="FeetAddButton"></button>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            Lap Type
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Boulder</a></li>
                                            <li><a href="#">Top Rope</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>*@